



db.sqlite3
ven
media

accounting/__pycache__

my_company/__pycache__
my_company/migrations
my_company/auth/__pycache__
my_company/company/__pycache__
my_company/my_info/__pycache__


contacts/__pycache__
contacts/migrations
contacts/contacts/__pycache__
contacts/notes/__pycache__
contacts/organization/__pycache__
contacts/related_info/__pycache__
contacts/staff/__pycache__
contacts/staff/auth/__pycache__
contacts/letters/__pycache__
contacts/tasks/__pycache__

documents/__pycache__
documents/migrations

invoices/__pycache__
invoices/migrations

orders/__pycache__
orders/migrations


payments/__pycache__
payments/migrations


products/__pycache__
products/migrations


receipts/__pycache__
receipts/migrations


